<div ng-controller="Mivaweb.MemberLoginController as vm"
     class="memberlogin umb-dialog umb-pane" ng-init="vm.init()">

    <div class="umb-dialog-body">

        <p class="umb-abstract">You are about to impersonate as member <strong>{{vm.member}}</strong>.</p>

        <div class="memberlogin-container">

            <div class="control-group umb-control-group -no-border">
                <div class="umb-el-wrap">
                    <label>
                        <strong>Redirect Page</strong>
                        <small>Choose to which page you want to redirect after login.</small>
                    </label>
                    <div ng-show="!vm.node" class="memberlogin_node-add">
                        <a href ng-click="vm.pickRedirectPage()" class="umb-node-preview-add" prevent-default>
                            <localize key="general_add" class="ng-isolate-scope">Add</localize>
                        </a>
                        <p>*You will be redirect to the root page '/' of the website.</p>
                    </div>
                    <umb-node-preview ng-show="vm.node"
                                      icon="vm.node.icon"
                                      name="vm.node.name"
                                      allow-remove="true"
                                      on-remove="vm.node = null">
                    </umb-node-preview>
                </div>
            </div>
        </div>

        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="#" prevent-default="" ng-click="vm.close()" class="btn btn-link"><localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize></a>
                <a href="#" prevent-default="" ng-click="vm.login()" class="btn btn-primary">Impersonate as {{vm.member}}</a>
            </div>
        </div>

    </div>

</div>