<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT private ANY>
<!ATTLIST private id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1067" key="6d330198-0508-49b5-b809-d78ca6b3693f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-06T12:33:04" updateDate="2018-02-06T12:33:04" nodeName="Home" urlName="home" path="-1,1067" isDoc="" nodeType="1063" creatorName="Michaël Vanbrabandt" writerName="Michaël Vanbrabandt" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <private id="1068" key="68a27a31-fe46-4d88-8317-9eb28db1845f" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2018-02-06T12:33:18" updateDate="2018-02-06T12:33:18" nodeName="Private" urlName="private" path="-1,1067,1068" isDoc="" nodeType="1065" creatorName="Michaël Vanbrabandt" writerName="Michaël Vanbrabandt" writerID="0" template="1064" nodeTypeAlias="private" isPublished="true" />
    <login id="1072" key="f06cdc46-c5b0-48a1-a7d4-3dbe6d14c4a1" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2018-02-06T13:01:27" updateDate="2018-02-08T22:33:19" nodeName="Login" urlName="login" path="-1,1067,1072" isDoc="" nodeType="1070" creatorName="Michaël Vanbrabandt" writerName="Michaël Vanbrabandt" writerID="0" template="1069" nodeTypeAlias="login" isPublished="true" />
  </home>
</root>