<div ng-controller="Mivaweb.Navigation.MemberLoginController as vm" ng-init="vm.openOverlay()" 
     class="umb-dialog umb-pane" ng-class="{'umb-disabled': vm.dialogOpen}">

    <div class="umb-dialog-body">
        
        <p class="umb-abstract">You are about the impersonate as member <strong>{{vm.memberName}}</strong>.</p>

        <p>Redirect to the following page after login:</p>

        <br />

        <member-login config="model.config" value="model.value" />

        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href ng-click="vm.close()" class="btn btn-link">Cancel</a>
                <a href ng-click="vm.doLogin()" class="btn btn-primary">Impersonate as {{vm.memberName}}</a>
            </div>
        </div>

    </div>

</div>