<div>
    <div ng-if="node">
        <umb-node-preview icon="node.icon"
                          name="node.name"
                          published="node.published"
                          description="node.url"
                          sortable="false"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="removeContent()"></umb-node-preview>
    </div>

    <a class="umb-node-preview-add" href="" ng-click="selectContent()" ng-if="!node" prevent-default="" style="max-width: 100%;">
        <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
    </a>

    <br />

    <umb-overlay ng-if="contentPickerOverlay.show" 
                 model="contentPickerOverlay" 
                 position="right" 
                 view="contentPickerOverlay.view"></umb-overlay>
</div>